.OrderStatus {
  background-color: var(--dark-gray);
  color: white;
  font-weight: bold;
  padding-bottom: 0.5rem;
  width: 100%;
}

.OrderStatus label {
  display: block;
}

.OrderStatus select {
  background-color: white;
  border-radius: 0.25rem;
  color: black;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.25rem;
  text-align: center;
  width: 10rem;
}
