.ImagingSetups {
  font-weight: 500;
  width: 100%;
}

.ImagingSetups table {
  border-collapse: collapse;
  width: 100%;
}

.ImagingSetups thead tr {
  background-color: var(--dark-gray);
  border: none;
  color: white;
}

.ImagingSetups thead th.artFile,
.ImagingSetups tbody td.artFile {
  padding-left: 1rem;
  text-align: left;
}

.ImagingSetups thead th.iconSelect {
  width: 4rem;
}

.ImagingSetups thead th.addArrows {
  width: 4.5rem;
}

.ImagingSetups tbody tr {
  border-bottom: 1px solid var(--dark-gray);
}

.ImagingSetups tbody tr td:last-child {
  border-right: none;
}

.ImagingSetups th {
  height: 2.25rem;
}

.ImagingSetups td {
  height: 2.75rem;
}

.ImagingSetups .numberColumn,
.ImagingSetups .selectColumn {
  width: 4.5rem;
}

.ImagingSetups .cts {
  background-color: var(--light-gray);
}
.ImagingSetups .film {
  background-color: var(--light-bright-purple);
}
