.AddLineItem {
  align-items: center;
  background-color: var(--dark-gray2);
  border-bottom: 2px solid var(--dark-gray3);
  color: white;
  display: flex;
  font-weight: bold;
  text-align: left;
  position: relative;
}

.AddLineItem span {
  color: var(--green);
  font-size: 1.15rem;
  margin-left: 0.5rem;
}

.AddLineItem .accent {
  background-color: var(--green);
  height: 2.5rem;
  margin-right: 0.5rem;
  width: 0.75rem;
}
