.EditOrder {
  align-items: center;
  background-color: var(--dark-gray);
  border-bottom: 2px solid var(--dark-gray2);
  color: white;
  display: flex;
  font-size: 1.25rem;
  font-weight: bold;
  justify-content: center;
  padding: 0.25rem;
  width: 100%;
}

.EditOrder svg {
  vertical-align: sub;
}

.EditOrder a {
  background-color: var(--dark-gray2);
  border: 2px solid var(--green);
  border-radius: 0.5rem;
  padding: 0 0.5rem;
  transition: 0.1s ease-in;
}

.EditOrder a:hover {
  background-color: var(--green);
  box-shadow: 0 0px 15px -5px var(--green);
  color: var(--dark-gray2);
  text-decoration: none;
}
