.ImagingNotes {
  background-color: white;
  width: 100%;
}

.ImagingNotes .notesHeader {
  background-color: var(--dark-gray);
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
}

.ImagingNotes .notesHeader > * {
  vertical-align: text-top;
}

.ImagingNotes .notesBody {
  background-color: white;
  color: black;
  font-style: italic;
  text-align: left;
}

.ImagingNotes ul {
  font-weight: bold;
  margin: 0;
}

.ImagingNotes ul li {
  padding: 0.25rem;
}

.ImagingNotes input {
  width: 95%;
}
