.GoButton {
  align-items: center;
  background-color: black;
  box-shadow: 0 1px 15px 0 black;
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  font-weight: bold;
  font-size: 1.1rem;
  justify-content: center;
  padding: 0.5rem;
  transition: 0.15s ease-in-out;
}

.primary {
  border: 2px solid var(--green);
  color: var(--green);
}
.primary:hover {
  background-color: var(--green);
  border: 2px solid var(--green);
  box-shadow: 0 1px 15px -5px var(--green);
  color: black;
}

.secondary {
  border: 2px solid var(--orange);
  color: var(--orange);
}
.secondary:hover {
  background-color: var(--orange);
  border: 2px solid var(--orange);
  box-shadow: 0 1px 15px -5px var(--orange);
  color: black;
}

.tertiary {
  border: 2px solid var(--blue2);
  color: var(--blue2);
}
.tertiary:hover {
  background-color: var(--blue2);
  border: 2px solid var(--blue2);
  box-shadow: 0 1px 15px -5px var(--blue2);
  color: black;
}

.cancel {
  border: 2px solid var(--medium-gray);
  color: var(--medium-gray);
}
.cancel:hover {
  background-color: var(--medium-gray);
  border: 2px solid var(--medium-gray);
  box-shadow: 0 1px 15px -5px var(--medium-gray);
  color: white;
}

.delete {
  border: 2px solid var(--red);
  color: var(--red);
}
.delete:hover {
  background-color: var(--red);
  border: 2px solid var(--red);
  box-shadow: 0 1px 15px -5px var(--red);
  color: white;
}
