.SectionHeaderNav {
  align-items: center;
  justify-content: center;
  background-color: var(--dark-gray);
  display: flex;
  height: 4rem;
  padding: 0.5rem;
  width: 100%;
}

.SectionHeaderNav button {
  background-color: var(--dark-gray2);
  border: 1px solid var(--medium-gray);
  border-radius: 0.25rem;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  margin: 0.5rem;
  min-width: 8rem;
  padding: 0.25rem;
  transition: 0.15s ease-in-out;
}

.SectionHeaderNav button.active {
  background-color: var(--green);
  border: 1px solid var(--green);
  color: black;
  font-size: 1.25rem;
  padding: 0.5rem;
}
