.container {
  border-radius: 0.5rem;
  border: 1px solid var(--dark-gray);
  box-shadow: 0px 1px 20px var(--medium-gray);
  margin: 1rem auto;
  overflow: hidden;
  width: 500px;
}

.ImagingTable {
  color: black;
  border-radius: 1rem;
  border-collapse: collapse;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.ImagingTable h2 {
  color: var(--light-gray);
  font-size: 1.25rem;
  margin: 0;
}

.ImagingTable input[type="checkbox"] {
  border-radius: 0.5rem;
  height: 1rem;
  width: 1rem;
}

.ImagingTable .thin {
  width: 2.5rem;
}

.ImagingTable thead tr {
  background-color: var(--dark-gray);
}

.ImagingTable th:nth-child(2) {
  width: 1.5rem;
}

.ImagingTable td,
.ImagingTable th {
  height: 3.5rem;
}

.ImagingTable tr {
  border-bottom: 1px solid var(--dark-gray);
}

.ImagingTable tr:last-of-type {
  border-bottom: none;
}

.ImagingTable .view,
.ImagingTable .options {
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  height: 100%;
  width: 100%;
}

.queue {
  background-color: var(--light-yellow);
}
.queue:hover {
  background-color: var(--yellow);
}
.imaged {
  background-color: var(--green);
}
.washed {
  background-color: var(--blue2);
}
